{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block title %}새로운 이야깃거리를 만들어주세요!{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">게시판</a></li>
	<li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
	<li class="breadcrumb-item active">새 글쓰기</li>
{% endblock %}

{% block content %}
	<form method="post" class="mb4" novalidate>
		{% csrf_token %}
		{% include 'includes/form.html' %}
		<button type="submit" class="btn btn-success">올리기</button>
	</form>
{% endblock %}

