{% extends 'base_accounts.html' %}

{% block title %}Poscommunity-비밀번호 변경 완료{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">비밀번호가 변경되었습니다!</h3>
          <div class="alert alert-success" role="alert">
            성공적으로 비밀번호를 변경하였습니다.</br>
            이제 로그인 하실 수 있습니다.
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">로그인</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}