{% extends 'base_accounts.html' %}

{% block title %}Poscommunity-비밀번호 변경{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">비밀번호 변경</h3>
          <p>비밀번호를 변경하시려면 이메일에 보내진 임시 링크로 들어가세요.</br>메일이 없는 경우, 스팸함을 확인하세요.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">로그인</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}