{% extends 'base_accounts.html' %}

{% block title %}Poscommunity-비밀번호 변경{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">비밀번호 변경</h3>
          <p>가입된 이메일을 통해 비밀번호 변경 링크를 보냅니다.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">전송</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}